DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_PROGRAM_ID=Djg4PX3upqax7GWrxWUjF3ydhbDDPqugM5QTsoNu14xx
